<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= project_name %> Project Timeline</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body>
<%- partial("_week") %>
</body>
</html>